# ==========================================
# Django
# ==========================================

db.sqlite3
*.sqlite3

# ==========================================
# Environment
# ==========================================

.env
.env.*

# ==========================================
# Google Cloud Credentials
# ==========================================

service_account.json
*.json

# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Django Media / Static
# ==========================================

media/
staticfiles/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# Logs
# ==========================================

*.log